.jumbotron {
	background-image: url('../assets/img/about.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 40vh;
	width: 100vw;
	top: 0;
	text-align: center;
	position: absolute;
	z-index: -100
}

.jumbotron h1 {
	color: white;
	position: relative;
	top: 10vh;

}

.profile-pic {
	background-color: black;
	border-radius: 50%;
}

.info {
	color: black;
	position: relative;
	top: 40vh;
	margin: 0;
	padding: 0;
	list-style: none;
}

.info li {
	display: inline-block;
}

.contact li {
	display: list-item;
}

.contact {
	list-style: none;
}