.jumbotron {
	background-image: url('../assets/img/education.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 40vh;
	width: 100vw;
	top: 0;
	text-align: center;
	position: absolute;
	z-index: -100
}

.jumbotron h1 {
	color: white;
	position: relative;
	top: 10vh;

}

